* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: red;
}

#board {
    display: grid;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    grid-auto-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border: 1px solid blue;
}

.neutral {
    background-color: white;
}

.snaked {
    background-color: darkgreen;
}

.apple {
    background-color: red;
}